* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: black;
}

body {
    background-color: #fdf4f9;
}


main {
    width: 140rem;
    margin: auto;
    padding: 0rem 0rem;
}

#cartSection, #personalDataSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin: 12rem 0rem;
}

#cartSection h1 {
    font-size: 3.35rem;
}

#table {
    width: 100%;
    font-size: 2.6rem;
    background-color: azure;
    margin: 3rem 0rem 0rem 0rem;
    border-radius: 0.5rem;
    border-collapse: collapse;
}

#tableHeadCart, #tableBodyCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#tableHeadCart {
    border-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#tableBodyCart {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#tableHeadTr, #tableBodyTr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

th, td {
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    padding: 2rem 0rem;
}

button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
}

#addButton {
    background-color: rgba(25, 185, 84, 0.95);
}

#removeButton {
    background-color: rgba(13, 110, 253, 0.95);
}

#deleteButton {
    background-color: rgba(220, 53, 69, 0.95);
}

#submitButton {
    width: 100%;
    font-weight: bold;
    background-color: #f3bfce; /* rgba(255, 193, 7, 1) */
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
}

#personalDataSection {
    background-color: azure;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 3rem;
}

#personalDataSection h2 {
    font-size: 2.5rem;
}

#personalDataForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    padding: 3rem 0rem;
}

#personalDataForm h3 {
    font-size: 2rem;
    margin: 2rem 0rem 0.5rem 0rem;
}

#personalDataForm input {
    font-size: 1.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0rem 1rem 0rem;
}

#personalDataForm label {
    font-size: 1.5rem;
    margin: 2rem 0rem 0rem 0rem;
}